<section class="hero is-fullheight">
    <!-- Hero head: will stick at the top -->
    {{ partial "global/navbar" . }}
    <div class="home-slide">
    {{ range .Site.Data.homelayout.slideshow }}
    <div style="background:linear-gradient(rgba(29,41,62,0.2),rgba(29,41,62,0.2)),url({{ .image }}) no-repeat center;position:absolute;top:0;bottom:0;left:0;right:0;background-size:cover"></div>
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        {{ if .heading }}
        <h1 class="title is-2">
          {{ .heading }}
        </h1>
        {{ end }}
        {{ if .subtitle }}
        <h2 class="subtitle">
          {{ .subtitle }}
        </h2>
        {{ end }}
        {{ if .body }}<p>{{ .body | markdownify }}</p>{{ end }}
        <div class="is-block mt-4">
            <a href="{{ .link }}" class="primary-btn">{{ .link_label }}</a>
        </div>
      </div>
    </div>
  
  <!-- Hero footer: will stick at the bottom -->
  <div class="section hero-foot">
    <div class="container">
      <div class="columns has-text-left has-text-white is-mobile is-vcentered">
        <div class="column quicksearch">
          <script type="text/javascript" src="https://wallstrealty.idxhome.com/site/listing/search/widget/{{ $.Site.Data.idx.ihomefinder_client_id }}?style=horizontal"></script>
        </div>
      </div>
    </div>
  </div>
    {{ end }}
</div>
  </section>